<style>
    body {
        padding-top: 80px;
    }
</style>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <p>Login</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        </div>
    </div>
</body>