<link rel='stylesheet' href='/stylesheets/admin/login.css'/>
<div class="login">
    <h1>BIM-Lab Admin</h1>
    <form method="post">
        <div class=""><%= message %></div>
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login.</button>
    </form>
</div>