<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css'/>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/ckeditor.js"></script>
        <script src="/javascripts/global.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
