<tr data-userId="{{_id}}">
    <td>{{email}}</td>
    <td>{{apikey}}</td>
    <td class="text-right">
        <button data-email="{{email}}" class='btn btn-primary btn-xs editUser'>Edit</button>
        <button class='btn btn-danger btn-xs deleteUser'>Remove</button>
    </td>
</tr>